/**
* Author: Thiago Sequeira
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(49, 71, 89, 0.6);
}
@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #24b7a4;
  text-decoration: none;
}

a:hover {
  color: #36d8c3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Spartan", sans-serif;
}

#main {
  position: relative;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 200px 0;
  /* countdown */
}
#header h1 {
  margin: auto;
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 18px;
}
#header .countdown {
  margin: 80px;
}
#header .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}
#header .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
}
#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 575px) {

  #header {
    display: block;
    margin: auto;
  }

  #header h1 {
    font-size: 12px;
  }

  #header h5 {
    font-size: 10px;
  }

  #header .countdown {
    margin: 40px;
  }

  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 3px 3px;
  }
  #header .countdown div h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #header .countdown div h4 {
    font-size: 10px;
    font-weight: 500;
  }
}

#header .social-links {
  margin-top: 40px;
}
#header .social-links a {
  font-size: 16px;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#header .social-links a i {
  line-height: 0;
}
#header .social-links a:hover {
  background: #24b7a4;
  border-color: #24b7a4;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #222;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #36d8c3;
}